body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: black;
}
@media (max-width: 800px) {
  .eze {
    padding: 12px;
  }
}


@media (max-width: 800px) {
  body {
    font-size: 14px;
    overflow-x: hidden; 
  }
}


.card {
  border: none; 
}

h1 {
  color: #Ab5943;
  font-size: 27px;
}

@media (min-width: 200px) {
  h1 {
    font-size: 22px;
  }
}




.navbar {
  padding-bottom: 2px;
  padding-top: 2px;
}

.flex-container {
  padding-bottom: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.flex-item-left {
  background-color: white;
  padding-left: 40px;
  padding-right: 20px;
  flex: 50%;
}

.flex-item-right {
  font-size: 19px;
  background-color: white;
  padding: 0px 50px 0px 30px;
  flex: 50%;
}

@media (max-width: 799px) {
    .carousel-item img {
        height: 270px; /* Adjusted height for screens below 800px */
    }
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-item-left {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .flex-item-right {
      padding-left: 0;
    padding-right: 0;
    font-size: 17px;
  }
}

@media screen and (max-width: 800px) {
  .navbar-brand img {
      width: 100px; 
      height: 100px; 
  }
  .navbar-brand {
    padding-left: 2px;
  }
}

.carousel-item img {
    height: 330px;
}

.navbar-brand {
  padding-left: 8px;
}

.navbar-toggler:hover {
  background-color: gold; 
}

.nav-item {
  padding: 10px;
}

.nav-link {
font-weight: bold;
  font-size: 17px;
  color:  black; 
  font-weight: 500;
}

.navbar-nav .nav-link {
  padding: 15px;
}

.nav-link:hover {
  color: gold; 
}

.carousel-swipe {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #Ab5943; 
  font-size: 35px; 
  cursor: pointer;
  z-index: 999;
  width: 40px; 
  height: 40px;
  line-height: 40px;
}

.carousel-swipe-left {
  left: 13px; 
}

.carousel-swipe-right {
  right: 13px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  visibility: visible;
}

.carousel-pagination {
  border-top: 10px white;
  text-align: center;
  margin-top: 20px;
}

.carousel-pagination button {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border: none;
  background-color: black;
  cursor: pointer;
}

.carousel-pagination button.active {
  background-color:  #D6A295;
  border-color:  #D6A295;
}

.image {
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  height: auto;
}

  @media (min-width: 1400px) {
            .image {
                width: 150px;
                height: 150px; 
            }
        }





.container {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust height as needed */
  overflow: hidden;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(3px); /* Adjust the blur amount as needed */
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  backdrop-filter: blur(1px); /* Adjust the overlay blur amount as needed */
}



.container-fluid {
  background-size: cover;
  position: relative;
}

.flex-item {
  padding: 20px;
  flex: 0 0 33%;
  height: 100px;
  box-sizing: border-box;
}

.custom-container {
    position: relative;
    overflow: hidden; 
    background-image: url('pol.jpg'); 
    background-size: cover; 
    border-top: 35px; 
}

.container-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #D6A295;
  opacity: 0.5;
}

@media (max-width: 800px) {
  .flex-container {
    justify-content: center; /* Center flex items horizontally */
  }
}



.flex-item {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
  height: 90px;
  /* Remove border between flex items */
  border: none;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .flex-container {
    justify-content: center; 
  }
}



.carousel-inner {
  position: relative;
  z-index: 1; 
}



        .custom-list {
  color: black;
            list-style-type: none; 
            padding: 0; 
        }

        .custom-list li {
            padding-top: 25px;
        }

        .custom-list li a {
            text-decoration: none; 
            color: #Ab5943;
        }



















.asake {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: row;
}






















.left-panel {
  flex: 0 0 33%; /* Take 33% of the screen */
  padding: 20px;
  box-sizing: border-box;
}

.right-panel {
  flex: 1; /* Take the remaining space */
  padding: 20px;
  box-sizing: border-box;
}

/* Media query for screens below 800px */
@media (max-width: 800px) {
  .asake {
      flex-direction: column; /* Stack items vertically */
  }
  .left-panel, .right-panel {
      width: 100%; /* Each panel takes full width */
  }
}

/* Card styling */
.card {
  width: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Make the image circular */
  object-fit: cover;
}





















@media (max-width: 800px) {
  .new-flex-container {
    flex-direction: column;
  }
}


.new-custom-container {
  position: relative;
  overflow: hidden;
  background-image: url('pol.jpg');
  background-size: cover;
  height: 100%px; /* Adjust height as needed */
}

.new-container-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 162, 149, 0.5); /* Adjust opacity as needed */
  z-index: 2;
}



.new-flex-container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row;
  padding: 20px;
}






@media (max-width: 800px) {
  .new-flex-container {
    flex-direction: column;
  }
}






























































































  .btn-pill {
    background-color: #Ab5943;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn-pill:hover {
    background-color: gold;
  }

  .modal {
    display: none;
    position: fixed; /* Ensure it covers the entire viewport */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Backdrop color */
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-header h2 {
    float: left;
    margin: 10;
  }

  .close {
    color: red;
    float: right;
    font-size: 37px;
    font-weight: bold;
    cursor: pointer;
  }

  .modal-body {
    margin-top: 10px;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .btn-close {
    background-color: white;
    color: red;
    border: none;
    border-radius: 25px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn-close:hover {
    background-color: gold;
  }


































.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #Ab5943;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 50px;
}

.dropdown-toggle:hover {
  background-color: #8f4d38;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 250px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.dropdown-menu li {
  list-style: none;
  margin: 10px 0;
}

.dropdown-menu hr {
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.dropdown-item-text {
  color: #333;
}









